.header{
  font-size: medium
}
.headerTitle{
    font-size: 50px;
    font-weight: 500;
}
.headerNav{
    padding-left: 38%;
}
.headerNav a{
    font-size: 20px;
    color: #c09436;
}
.headerLogo{
    height: 150px;
}